<html lang="en" ng-app="ngApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SPICE Bar and Bistro</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="main.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="app.js"></script>
</head>

<body ng-controller="ParallaxCtrl" ng-cloak>
  <md-tabs md-dynamic-height md-border-bottom md-colors="::{backgroundColor: 'default-primary', color: 'default-accent'}">
    <md-tab label="home">
      <section class="module parallax parallax-1">
        <div class="container">
          <h1>Great Place</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>SPICE Bar and Bistro</h2>
          <p>We aim to provide our customers with an ambiance that is perfect for a typical get together. The place is so inviting and so unintimidating it attracts the dining as well as the family crowd.</p>
        </div>
      </section>

      <section class="module parallax parallax-2">
        <div class="container">
          <h1>Great Food</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Our Food</h2>
          <p>We are offering different kinds of food with a variety of flavors that will surely satisfy our customers. SPICE believes that consistency is key and by that, we are giving our 100% by serving high quality food everytime.</p>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Great Staff</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <h2>Our Staff</h2>
          <p>We will surely accommodate and assist you in everything that you need. Our place is not just an establishment with four walls but a place that consists of a friendly staff, who will make you feel at home and comfortable.</p>
        </div>
      </section>

      <section class="module parallax parallax-4">
        <div class="container"></div>
      </section>
    </md-tab>

    <md-tab label="gallery">
      <div ng-controller="GalleryCtrl" layout layout-align="center center" md-colors="::{background: 'default-primary'}">
        <div class='md-padding' layout="row" layout-wrap>
          <md-card style="width: 400px; height: auto;" ng-repeat="image in images" md-colors="::{background: 'default-accent-300'}">
            <img src="{{image}}" class="md-card-image">
            <md-card-icon-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" aria-label="Favorite">
                <i class="material-icons">favorite</i>
              </md-button>
              <md-button class="md-icon-button" aria-label="Like">
                <i class="material-icons">thumb_up</i>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <i class="material-icons">share</i>
              </md-button>
            </md-card-icon-actions>
            <md-card-content>
              <h1 class="md-title">Copyright &copy;</h1>
              <span class="md-subhead">SPICE Bar and Bistro</span>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-tab>

    <md-tab label="about">
      <div ng-controller="AboutCtrl" layout="column" md-colors="::{background: 'default-primary'}">
        <md-card md-colors="::{background: 'default-accent-300'}">
          <md-card-header>
            <md-card-header-text>
              <span class="md-headline">Located At:</span>
              <span class="md-title">Ayala Highway Brgy. Balintawak Lipa City, Batangas 4217</span>
            </md-card-header-text>
          </md-card-header>

          <md-content layout layout-align="center center" md-colors="::{background: 'default-primary'}">
            <div class='md-padding' layout="row" layout-wrap>
              <md-card style="width: 350px; height: 500px;" ng-repeat="image in images">
                <img src="{{image}}" class="md-card-image">
              </md-card>
            </div>
          </md-content>

          <md-card-icon-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">favorite</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Like">
              <i class="material-icons">thumb_up</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <i class="material-icons">share</i>
            </md-button>
          </md-card-icon-actions>

          <md-card-content>
            <span>We are located in Lipa City - a first class component city in the province of Batangas in the Philippines.
                  It is a recreational, religious, commercial, industrial and educational center.</span>
          </md-card-content>
        </md-card>

        <md-card md-colors="::{background: 'default-accent-300'}">
          <md-card-header>
            <md-card-header-text>
              <span class="md-headline">Check out our menu!</span>
            </md-card-header-text>
          </md-card-header>

          <md-content layout layout-align="center center" md-colors="::{background: 'default-primary'}">
            <div class='md-padding' layout="row" layout-wrap>
              <md-card style="width: 525px; height: auto;" ng-repeat="menu in menus">
                <img src="{{menu}}" class="md-card-image">
              </md-card>
            </div>
          </md-content>

          <md-card-icon-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">favorite</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Like">
              <i class="material-icons">thumb_up</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <i class="material-icons">share</i>
            </md-button>
          </md-card-icon-actions>

          <md-card-content>
            <span>We are offering different kinds of food with a variety of flavors that will surely satisfy our customers.
               SPICE believes that consistency is key and by that, we are giving our 100% by serving high quality food everytime.</span>
          </md-card-content>
        </md-card>
      </div>
    </md-tab>

    <md-tab label="contact">
      <md-card>
        <md-card-header>
          <md-card-header-text>
            <span class="md-headline">Contact Us!</span>
          </md-card-header-text>
        </md-card-header>

        <img src="https://external.fmnl10-1.fna.fbcdn.net/static_map.php?v=29&amp;osm_provider=2&amp;size=820x242&amp;bbox=13.949470%2C121.148300%7C13.953470%2C121.164300&amp;markers=13.95147000%2C121.16030000&amp;language=en_US" class="md-card-image" alt="image caption">
        <md-card-content>
          <h2 class="md-title">SPICE Bar and Bistro</h2>
          <p class="md-subhead">Located at Ayala Highway Brgy. Balintawak Lipa City, Batangas 4217</p>
          <p class="md-subhead">Contact number: 0916-352-6456</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-accent md-raised">
            CALL
            <md-icon class="material-icons">call</md-icon>
          </md-button>
          <md-button class="md-accent md-raised">
            SMS
            <md-icon class="material-icons">textsms</md-icon>
          </md-button>
          <md-button class="md-accent md-raised">
            EMAIL
            <md-icon class="material-icons">email</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-tab>
  </md-tabs>

  <footer ng-controller="FooterCtrl" layout="column" layout-align="center center" md-colors="::{background: 'default-primary-300'}">
    <md-content layout="row" layout-align="center center" layout-margin md-colors="::{background: 'default-primary-300'}">
      <span class="md-caption">Built by</span>
      <a ng-href="{{social.portfolio}}" class="md-subhead" md-colors="::{color: 'default-accent-300'}">
        Jigno Alfred V. Venezuela
      </a>
      <span class="md-caption">2017</span>
    </md-content>
    <div>
      <md-button class="md-accent" ng-href="{{social.facebook}}" target="_blank">
        <md-tooltip md-direction="top">Facebook</md-tooltip>
        <i class="fa fa-2x fa-facebook-square"></i>
      </md-button>

      <md-button class="md-accent" ng-href="{{social.linkedin}}" target="_blank">
        <md-tooltip md-direction="top">LinkedIn</md-tooltip>
        <i class="fa fa-2x fa-linkedin-square"></i>
      </md-button>

      <md-button class="md-accent" ng-href="{{social.github}}" target="_blank">
        <md-tooltip md-direction="top">Github</md-tooltip>
        <i class="fa fa-2x fa-github-alt"></i>
      </md-button>

      <md-button class="md-accent" ng-href="{{social.codepen}}" target="_blank">
        <md-tooltip md-direction="top">Codepen</md-tooltip>
        <i class="fa fa-2x fa-codepen"></i>
      </md-button>

      <md-button class="md-accent" ng-href="{{social.stackoverflow}}" target="_blank">
        <md-tooltip md-direction="top">Stack Overflow</md-tooltip>
        <i class="fa fa-2x fa-stack-overflow"></i>
      </md-button>
    </div>
  </footer>
</body>

</html>
