<html lang="en" ng-app="ngApp">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SPICE Bar and Bistro</title>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="main.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="app.js"></script>
</head>

<body ng-controller="ParallaxCtrl" ng-cloak>
  <md-tabs md-dynamic-height md-border-bottom md-colors="::{backgroundColor: 'default-primary', color: 'default-accent'}">
    <md-tab label="home">
      <section class="module parallax parallax-1">
        <div class="container"></div>
      </section>

      <section class="module content">
        <div class="container">
          <!-- <h2>The Place</h2> -->
          <p>Place Content Goes Here</p>
        </div>
      </section>

      <section class="module parallax parallax-2">
        <div class="container">
          <h1>Great Place</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <!-- <h2>The Food</h2> -->
          <p>Food Content Goes Here</p>
        </div>
      </section>

      <section class="module parallax parallax-3">
        <div class="container">
          <h1>Great Food</h1>
        </div>
      </section>

      <section class="module content">
        <div class="container">
          <!-- <h2>The Staff</h2> -->
          <p>Staff Content Goes Here</p>
        </div>
      </section>

      <section class="module parallax parallax-4">
        <div class="container">
          <h1>Great Staff</h1>
        </div>
      </section>
    </md-tab>

    <md-tab label="gallery">
      <div ng-controller="GalleryCtrl" layout layout-align="center center" md-colors="::{background: 'default-primary'}">
        <div class='md-padding' layout="row" layout-wrap>
          <md-card style="width: 400px; height: auto;" ng-repeat="image in images" md-colors="::{background: 'default-accent-300'}">
            <img src="{{image}}" class="md-card-image">
            <md-card-icon-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" aria-label="Favorite">
                <i class="material-icons">favorite</i>
              </md-button>
              <md-button class="md-icon-button" aria-label="Like">
                <i class="material-icons">thumb_up</i>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <i class="material-icons">share</i>
              </md-button>
            </md-card-icon-actions>
            <md-card-content>
              <span>Picture shown were shared by customers.</span>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </md-tab>

    <md-tab label="about">
      <div ng-controller="AboutCtrl" layout="column" md-colors="::{background: 'default-primary'}">
        <md-card md-colors="::{background: 'default-accent-300'}">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">Located At:</span>
              <span class="md-subhead">Ayala Highway Brgy. Balintawak Lipa City, Batangas 4217</span>
            </md-card-header-text>
          </md-card-header>

          <md-content layout layout-align="center center" md-colors="::{background: 'default-primary'}">
            <div class='md-padding' layout="row" layout-wrap>
              <md-card style="width: 350px; height: 500px;" ng-repeat="image in images">
                <img src="{{image}}" class="md-card-image">
              </md-card>
            </div>
          </md-content>

          <md-card-icon-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">favorite</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Like">
              <i class="material-icons">thumb_up</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <i class="material-icons">share</i>
            </md-button>
          </md-card-icon-actions>

          <md-card-content>
            Text here
          </md-card-content>
        </md-card>

        <md-card md-colors="::{background: 'default-accent-300'}">
          <md-card-header>
            <md-card-header-text>
              <span class="md-title">Check out our menu!</span>
            </md-card-header-text>
          </md-card-header>

          <md-content layout layout-align="center center" md-colors="::{background: 'default-primary'}">
            <div class='md-padding' layout="row" layout-wrap>
              <md-card style="width: 525px; height: auto;" ng-repeat="menu in menus">
                <img src="{{menu}}" class="md-card-image">
              </md-card>
            </div>
          </md-content>

          <md-card-icon-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Favorite">
              <i class="material-icons">favorite</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Like">
              <i class="material-icons">thumb_up</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <i class="material-icons">share</i>
            </md-button>
          </md-card-icon-actions>

          <md-card-content>
            Text here
          </md-card-content>
        </md-card>
      </div>
    </md-tab>

    <md-tab label="contact">
      <md-card md-colors="::{background: 'default-primary'}">
        <md-card-header md-colors="::{color: 'default-accent-500'}">
          <md-card-header-text>
            <span class="md-title">Contact Us!</span>
          </md-card-header-text>
        </md-card-header>

        <img src="https://external.fmnl10-1.fna.fbcdn.net/static_map.php?v=29&amp;osm_provider=2&amp;size=820x242&amp;bbox=13.949470%2C121.148300%7C13.953470%2C121.164300&amp;markers=13.95147000%2C121.16030000&amp;language=en_US" class="md-card-image" alt="image caption">
        <md-card-content md-colors="::{color: 'default-accent-500'}">
          <h2>SPICE Bar and Bistro</h2>
          <p>Located at Ayala Highway Brgy. Balintawak Lipa City, Batangas 4217</p>
          <p>Contact number: 0916-352-6456</p>
        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-accent md-raised">
            Call Us
            <md-icon class="material-icons">call</md-icon>
          </md-button>
          <md-button class="md-accent md-raised">
            Text Us
            <md-icon class="material-icons">textsms</md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </md-tab>
  </md-tabs>
</body>

</html>
